<?xml version="1.0" encoding="UTF-8"?>

<plugin id="cordova-plugin-camerax" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>cordova-plugin-camera-x</name>
    <description>Cordova plugin that allows camera interaction from HTML code, using CameraX api.
        Only for Android</description>
    <license>Apache 2.0</license>
    <keywords>
        cordova,phonegap,ecosystem:cordova,cordova-android,cordova-ios,android,ios,ionic,camerax,cam,camera-preview,preview</keywords>
    <repo>https://github.com/Qarma-inspect/cordova-plugin-camerax</repo>
    <issue>https://github.com/Qarma-inspect/cordova-plugin-camerax/issues</issue>

    <js-module src="www/CameraX.js" name="CameraX">
        <clobbers target="CameraX" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/CameraXFragment.java"
            target-dir="src/com/cordovaplugincamerax" />
        <source-file src="src/android/CameraXPreview.java" target-dir="src/com/cordovaplugincamerax" />
        <source-file src="src/android/camera_fragment.xml" target-dir="res/layout" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CameraXPreview">
                <param name="android-package" value="com.cordovaplugincamerax.CameraXPreview" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-feature android:name="android.hardware.camera" android:required="true" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.cordovaplugincamerax.CameraXFragment"
                android:screenOrientation="portrait" android:theme="@style/CameraXTheme"
                android:exported="false" />
        </config-file>

        <framework src="com.android.support:support-v4:27.1.3" />
        <framework src="com.android.support:exifinterface:27.1.3" />
    </platform>
</plugin>